.navbar li {
    list-style-type: none;
    margin-right: -1rem;
}
.navbar li a {
    outline: none !important;
}
.dropdown-menu {
    padding: .3rem 0;
}
.dropdown-menu a:active {
    background-color: rgba(0,0,0,0.2);
    color: black;
}
.dropdown-toggle::after {
    vertical-align: .2em;
}
.nav-bar-title {
    color: white;
    display: inline;
    position: absolute;
    right: 0;
    font-size: 1em;
    padding-top: 3px;
}
.nav-bar-title div {
    display: inline-block;
}