body {
    font-family: 'Quicksand', sans-serif;
    padding-top: 4.5rem;
}

select {
    background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3c/svg%3e") no-repeat right .4rem center !important;
    border-radius: 0 !important;
}
select:focus {
    border-color: rgba(0,0,0,.2) !important;
    box-shadow: none !important;
}

button:hover,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}
input {
    border-radius: 0 !important;
}
input:hover,
input:focus {
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
    outline: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.custom-control-input:focus~.custom-control-indicator {
    box-shadow: none !important;
}

span:focus {
    outline: none !important;
    box-shadow: none !important;
}


.navbar a,
.navbar a:hover {
    text-decoration: none;
    color: white;
}

.navbar-brand {
    color: white !important;
    font-size: 1em;
}
#yyc {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}
#automotives {
    display: inline-block;
}
.nav-bar-background {
	background-color: #F44336 !important;
}
.nav-bar-sponser {
    color: white;
    display: inline;
    position: absolute;
    right: 0;
    padding-right: 1rem;
    font-size: 0.9em;
    padding-top: 3px;
}
.nav-bar-sponser img {
    width: 40px;
}
.search-input-and-groups {
    margin-left: 30px;
}
.search-input {
    border-radius: 0px;
    width: 40vw !important;
    border: none !important;
}
.search-input:hover,
.search-input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


.advance-search-btn,
.advance-search-btn button {
    background-color: white;
}
.advance-search-btn button i {
    color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}
.advance-search-btn button i:hover {
    cursor: pointer;
}
.search-btn {
    background-color: white;
    border-radius: 0px;
}
.search-btn button {
    background-color: white;
    border: none !important;
    border-radius: 0px;
    margin-left: 1px !important;
    width: 6vw;
}
.search-btn button:before {
    content: '';
    border-left: 1px solid #F44336;
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 0px;
    margin-right: 2px;
}
.search-btn button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.search-btn button i {
    color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    font-size: 1.3em;
}
.hide-nav {
    display: none !important;
}

.footer {
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    color: white;
    background-color: rgba(244,67,54,1);
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer .copyright {
    float: left;
}
.footer .contact-info {
    float: right;
}

/* Modal
.misc-info {
    margin-bottom: 1rem;
}

.new-car {
    margin-right: 5%;
}

.used-car {
    margin-right: 1%;
}

.car-proof {
    width: 110px;
}

.car-proof img {
    width: 50%;
}

.basic-info {
    margin-bottom: 1rem;
}

.basic-info label {
    justify-content: left;
    margin: 0px -15px 10px -15px;
}

.left-component {
    margin-right: 0.1rem;
}

.right-component {
    margin-left: 0.1rem;
}

.min-price {
    margin-right: 0.1rem;
}

.max-price {
    margin-left: 0.1rem;
}

.aesthetics {
    margin-bottom: 1rem;
}

.aesthetics label {
    justify-content: left;
    margin: 0px -15px 10px -15px;
}

.mechanical label {
    justify-content: left;
    margin: 0px -15px 10px -15px;
}

.full-width-header {
    width: 100%;
    position: relative;
}

.advance-search-title {
    color: white;
    float: left;
    font-size: 18px;
    margin-top: -8px;
}

.advance-search-close {
    margin-top: -8px;
    background-color: white;
    color: rgba(0, 0, 0, 1);
    border-radius: 2px;
    border: none;
    width: 25px;
    height: 25px;
    padding: 0px;
    margin-right: -7px;
    position: absolute;
    right: 0;
}

.advance-search-close:hover {
    background-color: lightgrey;
}

.top-margin {
    margin-top: 0.5rem;
}

.modal-footer {
    padding: 0 5px;
    height: 54px;
}

.modal-footer button {
    background-color: #F44336;
    border: none;
    color: white;
    width: 7rem;
    height: 2.5rem;
    border-radius: 2px;
}

.modal-footer button:active {
    background-color: #D81E0F;
}

.modal-default-button {
    float: right;
}

*/

@media (max-width: 991px) {
}

@media (max-width: 860px) {
}
@media (max-width: 800px) {
    body {
        padding-top: 7.2rem;
    }
    .nav-bar-background {
        padding-bottom: 10px;    
    }
    .navbar-brand {
        margin-bottom: 5px;
    }
    .search-input-and-groups {
        display: inline !important;
        margin-left: 0px;
    }
    .search-input-and-groups {
        width: 100%;
    }
    .search-btn button {
        width: 100%;
    }
    .input-group-btn:not(:last-child)>.btn {
        margin-right: 0px !important;
    }
}
@media (max-width: 575px) {

}
@media (max-width: 414px) {
    .search-btn button:hover {
        background-color: white;
    }
}