.nav-bar-title {
    color: white;
    display: inline;
    position: absolute;
    right: 0;
    padding-right: 1rem;
    font-size: 1em;
    padding-top: 3px;
}
.nav-bar-title div {
    display: inline-block;
}